
p {
    color: rgb(238, 4, 238);
}

#helpme {
    color: red;
    font-weight: bold;
}

.yesyes{
    color:green;
    font-style: italic;
}

[type="text"]{
    color: coral;
}

header  h1:hover{
    color: aqua;
}

header > h2{
    color: brown;
}


/* .box{
    border: 10px solid #ccc;
    width: 100px;
    height: 100px;
    background-color: gray;
    box-sizing: content-box;
}

.content-box {
    width: 150px;
    height: 150;
} */

/* div {
    box-sizing: border-box;
    width: 300px;
    margin: 20px 0px;
    padding: 20px;
    border: 10px dotted coral;
    background-color: skyblue;
}
.borderbox {
    background-clip: border-box;
}
.paddingbox {
    background-clip: padding-box;
}
.content-box {
    background-clip: content-box;
} */


/* .box {
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: groove;
    border-radius: 10%;
    border-top: solid;
    border-bottom: solid;
}

.img {
    border-radius: 70%;
    width: 170px;
    height: 170px;
    overflow: hidden;
    border: solid;
    border-color: purple;
}

.img-img {
    width: 100%;
    height: 100%;
}

.parent {
    display: flex;
    width: 70%;
    height: 70%;
}

.child{
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid;
    border-color: black;
}

.child:nth-child(1) {
    flex:5;
} */


/* position */
/* .container{
    display: flex;
    margin: 30px;
    padding: 10px;
    position: relative;
    background-color: gray;
    height: 20px;
    width: 100px;
}

.target{
    position: static;
    top: 10px;
    left: 10px;
    background-color: gold;
}

div {
    background-color: coral;
} */

/* overflow */
.container {
    padding: 10px;
    outline: solid black;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipse;
}

box {
    width: 80px;
    height: 200px;
}